#serviceCenter-link {
  width: 80%;
  height: 80%;
}

#serviceCenter-btn {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: none;
  border: none;
}

#serviceCenter-img {
  width: 100%;
}
