#profileInfo-container {
  width: 100%;
  height: auto;
  display: flex;
}

#profileInfo-imgWrap {
  min-width: 291px;
  height: 184px;
  display: flex;
  justify-content: center;
}

#profileInfo-img {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  border: 1px solid var(--main-border-color);
}

#profileInfo-infoWrap {
  width: 100%;
  max-width: 639px;
  display: flex;
  flex-direction: column;
}

#profileInfo-nameWrap {
  height: 50px;
  align-items: center;
  display: flex;
  column-gap: 20px;
}

#profileInfo-name {
  font-size: 24px;
  white-space: nowrap;
  font-weight: bold;
  margin: 0px;
}

#profile-modifyBtn {
  width: 95px;
  height: 32px;
  font-weight: bold;
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
  background: none;
  cursor: pointer;
}

#profile-modifyBtn:active {
  color: rgb(172, 170, 170);
}

#profileInfo-schoolInfoWrap {
  display: flex;
  column-gap: 10px;
  margin-bottom: 10px;
}

#profileInfo-schoolInfoWrap p {
  margin: 0px;
}

#profileInfo-intro {
  width: 550px;
  word-break: break-all;
}
