#profileInfo-container {
  width: 100%;
  height: auto;
  display: flex;
}

#profileInfo-imgWrap {
  min-width: 291px;
  height: 184px;
  display: flex;
  justify-content: center;
}

#profileInfo-img {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  border: 1px solid black;
}

#profileInfo-infoWrap {
  width: 100%;
  max-width: 639px;
  display: flex;
  flex-direction: column;
}

#profileInfo-nameWrap {
  height: 50px;
  align-items: center;
  display: flex;
}

#profileInfo-name {
  font-size: 24px;
  white-space: nowrap;
  font-weight: 300;
  margin: 0px;
}

#profileInfo-schoolInfoWrap {
  display: flex;
  column-gap: 10px;
  margin-bottom: 10px;
}

#profileInfo-schoolInfoWrap p {
  margin: 0px;
}

#profileInfo-intro {
  word-break: break-all;
}
