.profileBigPostBox-commentWrap {
  display: flex;
}

.profileBigPostBox-commentImg {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  object-fit: cover;
  border: 1px solid var(--main-border-color);
}

.profileBigPostBox-commentTextWrap {
  margin: auto 0px;
  margin-left: 16px;
}

.profileBigPostBox-commentName {
  margin-right: 5px;
  font-weight: bold;
}

.profileBigPostBox-text {
}
