#changePassword-form {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
    0 1px 3px -1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

#chagnePassword-inputWrap {
  width: 550px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto auto;
}

.changePassword-input {
  width: 88%;
  height: 60px;
  margin: 15px auto;
  border: 1px solid var(--main-border-color);
  outline: none;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
}

#changePassword-submitBtn {
  width: 88%;
  height: 60px;
  margin: 10px auto;
  border: 1px solid var(--main-border-color);
  background-color: var(--main_color);
  box-sizing: border-box;
  cursor: pointer;
  color: white;
}

/* darkmode */
.dark-mode .changePassword-formWrap {
  background-color: var(--dark-opacity-color);
}

.dark-mode #changePassword-form {
  background-color: var(--sub-dark-color);
}

.dark-mode .changePassword-input {
  background-color: var(--dark-post-color);
}

.dark-mode #changePassword-submitBtn {
  background-color: var(--dark-color);
}
