.commentWrap {
  width: auto;
  margin: 0px;
  display: flex;
  align-items: center;
}

.comment-name {
  font-weight: bold;
  margin: 0px;
  font-size: 15px;
}

.comment-text {
  word-break: break-all;
  margin: 0px;
  font-size: 15px;
  margin-left: 4px;
}

.comment-deleteBtn {
  width: 18px;
  height: 18px;
  margin-left: auto;
  display: none;
  border: 0px;
  background: none;
  cursor: pointer;
}

.comment-deleteBtn-img {
  width: 16px;
}

.commentWrap:hover {
  background-color: var(--main-exit-hover-background-color);
}

.commentWrap:hover .comment-deleteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.commentHidden {
  display: none;
}
