.feed-container {
  width: 650px;
  height: auto;
  box-sizing: border-box;
  border: 1px solid var(--main-border-color);
  background-color: var(--main-background-color);
  background-color: white;
}

.feed-profileWrap {
  width: 100%;
  height: 56px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0px 8px;
  box-sizing: border-box;
}

.feed-profileImg {
  width: 35px;
  height: 35px;
  border-radius: 40px;
}

.feed-name {
  margin-left: 5px;
  font-weight: bold;
  font-size: 14px;
}

.feed-imgWrap {
  height: auto;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feed-img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.feed-explainWrap {
  width: 100%;
  height: auto;
  min-height: 103px;
}

.feed-explainWrap-header {
  width: 100%;
  height: 44px;
  padding: 0px 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.feed-likeBtn {
  width: 28px;
  height: 28px;
  padding: 0px;
  border: 0px;
  background: none;
  cursor: pointer;
}

.feed-likeBtn-img {
  width: 100%;
}

.feed-explainWrap-middle {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 8px;
  padding-top: 0px;
  border-bottom: 1px solid var(--main-border-color);
}

.feed-explainWrap-textWrap {
  margin: 0px;
  font-size: 15px;
  word-break: break-all;
  overflow-x: hidden;
}

.feed-explainWrap-name {
  font-size: 14px;
}

.feed-explainWrap-text {
  margin-left: 4px;
}

.feed-explainWrap-fullText-Btn {
  background: none;
  border: 0px;
  cursor: pointer;
  color: #8c8c8c;
  padding: 0px;
  font-size: 15px;
}

.feed-explainWrap-hashTagWrap {
  margin: 8px 0px;
  display: flex;
  column-gap: 5px;
}

.feed-explainWrap-hashTag {
  font-size: 15px;
  color: #3f729b;
  margin: 0px;
}

.feed-commentWrap {
  width: 100%;
  height: 58px;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.feed-commentInput {
  width: 585px;
  height: auto;
  min-height: 42px;
  box-sizing: border-box;
  word-break: break-all;
  overflow-x: visible;
  border: 0px;
  margin-left: auto;
  outline: none;
  font-size: 16px;
}

.feed-submitComment {
  width: 45px;
  height: 100%;
  color: var(--main_color);
  font-weight: bold;
  background: none;
  border: 0px;
  outline: none;
  cursor: pointer;
}
