#content-hotPostContainer {
  width: 30%;
  height: 874px;
  position: fixed;
  left: 668px;
  display: flex;
  flex-direction: column;
}

#content-titleWrap {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: start;
  font-weight: bold;
  box-sizing: border-box;
  padding: 0px 10px;
}

#content-title {
  margin: 0px;
}

#content-hotPostWrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
