.hotPost-container {
  width: 350px;
  height: 210px;
  border: 1px solid var(--main-border-color);
  background-color: white;
  margin: 0px auto;
  display: flex;
}

.hotPost-imgWrap {
  min-width: 210px;
  max-width: 210px;
  height: 100%;
  border-right: 1px solid var(--main-border-color);
}

.hotPost-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotPost-textWrap {
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: column;
  padding: 14px;
  box-sizing: border-box;
}

.hotPost-userInfoWrap {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.hotPost-avatar {
  width: 15px;
  height: 15px;
  border-radius: 100px;
  object-fit: cover;
  border: 1px solid black;
}

.hotPost-text {
  font-size: 13px;
  word-break: break-all;
  margin: 0px;
  margin-top: 14px;
}

.hotPost-name {
  font-size: 13px;
  margin-left: 2px;
}

.hotPost-likeCountWrap {
  display: flex;
  margin-top: auto;
}

.hotPost-likeCountImg {
  width: 18px;
}

.hotPost-likeCount {
  font-size: 14px;
  margin-left: 3px;
}

/* darkmode */
.dark-mode .hotPost-container {
  background-color: var(--sub-dark-color);
  color: white;
  border: 1px solid var(--dark-border-color);
}

.dark-mode .hotPost-imgWrap {
  border-right: 1px solid var(--dark-border-color);
}
