.navigation-container {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  background-color: var(--main_color);
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
    0 1px 3px -1px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-item-container {
  width: 98%;
  display: flex;
  align-items: center;
}

.navigation-item-logo-img {
  width: 118px;
  height: 82px;
}

.navigation-item-searchbar {
  width: 700px;
  height: 45px;
  margin-left: 362px;
  position: absolute;
  outline: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 1px solid black;
  font-size: 16px;
}

.navigation-item-search-off {
  transition: 0.5s;
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 180px;
  border-radius: 50px;
  background-color: white;
  outline: none;
  border: 3px solid #4e007e;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.navigation-item-search-on {
  transition: 0.5s;
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 180px;
  border-radius: 50px;
  background-color: white;
  outline: none;
  border: 3px solid #4e007e;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transform: rotate(45deg);
}

.navigation-item-search-img {
  width: 30px;
  height: 30px;
}

.nav-item-post-form-wrap {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 238, 238, 0.9);
  overflow: hidden;
  top: 0px;
}
.navigation-item-post-form {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 370px;
  left: 790px;
  display: inline-block;
  width: 510px;
  height: 570px;
  background-color: #534974;
  border-radius: 5px;
  // display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
    0 1px 3px -1px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.navigation-item-post-form-container {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.navigation-item-post-form-headerWrap {
  display: flex;
  width: 100%;
}

.navigation-item-post-form-title {
  display: block;
  color: #eeeeee;
  font-size: 22px;
  margin-bottom: 16px;
  width: 100%;
  float: right;
  margin-right: auto;
  align-items: center;
  margin: 0px;
}

.navigation-item-post-form-exit {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: none;
  outline: none;
  border: none;
}

.navigation-item-post-form-content-input {
  width: 100%;
  height: 65%;
  font-size: 20px;
  vertical-align: top;
  box-sizing: border-box;
  margin-top: 15px;
}

.navigation-item-post-form-hashtag-wrap {
  margin: 15px;
  height: 45px;
  width: 100%;
  align-items: center;
  display: flex;
  box-sizing: border-box;
}

.navigation-item-post-form-hashtag-input {
  width: 85%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.navigation-item-post-form-hashtag-add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 10%;
  height: 100%;
  // margin: 0px auto;
}

.navigation-item-post-form-hashtag-add-button-img {
  width: 30px;
  height: 30px;
}

.navigation-item-post-form-footerWrap {
  width: 100%;
}

.navigation-item-post-form-footerWrap-Btn {
  width: 109px;
  height: 49px;
  float: right;
  margin: 10.75px 0px;
  margin-top: 15px;
}

.navigation-item-post,
.navigation-item-menu {
  width: 50px;
  height: 50px;
  background: none;
  border: none;
}

.navigation-item-post-img,
.navigation-item-menu-img {
  width: 35px;
  height: 35px;
}

.navigation-item-post {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  outline: none;
}

.navigation-item-menu {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  outline: none;
  margin-left: 30px;
}

.nav-item-user-form-wrap {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 238, 238, 0.9);
  overflow: hidden;
  top: 0px;
}

.navigation-item-user-form {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 370px;
  left: 790px;
  display: inline-block;
  width: 510px;
  height: 600px;
  background-color: #fff;
  border-radius: 5px;
  // display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
    0 1px 3px -1px rgba(0, 0, 0, 0.3);
}

.navigation-item-user-form-headerWrap,
.navigation-item-user-form-middleWrap,
.navigation-item-user-form-footerWrap {
  padding: 20px;
}

.navigation-item-user-form-headerWrap {
  display: flex;
  flex-direction: column;
  height: 30%;
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
    0 1px 3px -1px rgba(0, 0, 0, 0.3);
}

.navigation-item-user-form-exit {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: none;
  outline: none;
  border: none;
  position: absolute;
  left: 90%;
}

.navigation-item-user-form-profileImg {
  width: 130px;
  height: 130px;
  border: 1px solid gray;
  border-radius: 200px;
  margin: auto;
}

.navigation-item-user-form-name {
  font-size: 40px;
  margin: auto;
}

.navigation-item-user-form-contentWrap {
  margin-top: 5px;
  height: 62.5%;
  background-color: #f6f6f6;
  border-radius: 5px;
}

.navigation-item-user-form-middleWrap {
  height: 50%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navigation-item-user-form-info-title {
  font-size: 30px;
  margin-top: 5px;
}

.navigation-item-user-form-info-class {
}

.navigation-item-user-form-info-class-title,
.navigation-item-user-form-info-mail-title {
  font-weight: bold;
  color: #999999;
  margin: 5px 0px;
}
.navigation-item-user-form-info-class-wrap {
  display: flex;
}

.navigation-item-user-form-info-class-text,
.navigation-item-user-form-info-mail-text {
  margin: 0px 2px;
}

.navigation-item-user-form-info-line {
  width: 92%;
  margin: 0px auto;
}

.navigation-item-user-form-footerWrap {
  height: 45%;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
}

.navigation-item-user-form-btn-wrap {
  margin-top: auto;
  display: flex;
}

.navigation-item-user-form-passwordChange,
.navigation-item-user-form-logOut,
.navigation-item-user-form-modifyProfile {
  height: 35px;
  margin: 0px 10px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid gray;
}

.navigation-item-user-form-passwordChange {
  margin-left: auto;
}

.navigation-item-user-form-modifyProfile {
}

.navigation-item-user-form-logOut {
  margin-right: auto;
}

.navigation-item-user {
  cursor: pointer;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: none;
  outline: none;
  border: 1px solid black;
  margin-left: 20px;
}
