#teacherBadges-box {
  width: 40px;
  height: 16px;
  border: 1px solid #ec8c8c;
  background-color: #ec8c8c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 13px;
  margin-left: 3px;
}

#studentBadges-box {
  width: 40px;
  height: 18px;
  border: 1px solid #86dcff;
  background-color: #86dcff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 13px;
  margin-left: 3px;
}

#parentBadges-box {
  width: 40px;
  height: 18px;
  border: 1px solid #b3e59f;
  background-color: #b3e59f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 13px;
  margin-left: 3px;
}

#badges-text {
  margin: 0px;
  color: white;
  font-size: 13px;
}
