body {
  margin: 0px;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: var(--main-background-color);
}

:root {
  --main_color: #6495ed;
  --main-border-color: #dbdbdb;
  --main-exit-background-color: #f1f1f1;
  --main-exit-hover-background-color: #e7e7e7;
  --main-background-color: #fafafa;
  --dark-color: #222222;
  --sub-dark-color: #464646;
  --dark-post-color: #c4c4c4;
  --dark-border-color: #646464;
  --dark-opacity-color: rgba(23, 23, 23, 0.9);
}

.light-mode {
  color: #333;
  transition: background-color 0.3s ease;
}
.dark-mode {
  background-color: var(--dark-color);
  color: #999;
  transition: background-color 0.3s ease;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}
