#navigation-item-searchbar-wrap{
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-item-searchbar {
  width: 400px;
  height: 30px;
  top: 0px;
  left: 0px;
  outline: none;
  margin-left: auto;
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  padding: 0px 5px;
  background-color: var(--main-background-color); 
}


/* darkmode */
.dark-mode .navigation-item-searchbar {
  border: 1px solid var(--sub-dark-color);
}

.dark-mode .navigation-item-search-off {
  border: 3px solid var(--sub-dark-color);
}

.dark-mode .navigation-item-search-on {
  border: 3px solid var(--sub-dark-color);
}
/* darkmode */
